#! /bin/sh

window=$(xwinfo -c "$1")
result=""

case $window in
  Gimp)         result="floating=on"  ;;
  BSPWM_FRAME)  result="frame=on"     ;;
  Keepassx)     result="floating=on"  ;;
esac

echo "$result"
