@namespace url(http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul);

/* ::: Colors ::: */

/* Background */
#tabbrowser-tabs                              { background:       #262626 /*#eeeeee*/ !important; }
.tabbrowser-tab[selected]:hover               { background-color: #262626 !important; }
#nav-bar, #PersonalToolbar                    { background:       #262626 /*#eeeeee*/ !important; }
#appmenu-toolbar-button                       { background-color: #262626 /*#eeeeee*/ !important; }

/* Selected tab */
.tabbrowser-tab[selected],
.tabbrowser-tab[multiselect]                  { background:       #ffffff !important; }

/* Pinned tab */
.tabbrowser-tab[pinned]                       { background:       #dddddd !important; }
.tabbrowser-tab[pinned][selected]             { background:       #ffffff !important; }

/* Tab popup */
.tabbrowser-tab:hover .tab-text               { color:            #ffffff !important;
                                                background-color: #262626 !important;
                                                border: 3px solid #262626 !important; }

/* Tooltip */
tooltip {                                       background:       #000000 !important;
                                                color:            #ffffff !important; 
                                                border: 1px solid #000000 !important; }
tooltip label {                                 color:            #ffffff !important;
                                                border: 1px solid #000000 !important; }

/* Urgent tab */
.tabbrowser-tab[titlechanged]:not([selected]) { background:       #f0c864 !important; }



/* ::: Vertical Tabs ::: */



/* Tabs panel */
#tabbrowser-tabs {
  border: none !important;
  border-radius: 0 !important;

  /* Size 25px */
  min-width: 325px !important;
  max-width: 325px !important;
  margin-right: -300px !important;
  margin-top: 0px !important;
}

/* Tabs */
.tabbrowser-tab {
  background: none !important;

  border: none !important;
  border-radius: 0 !important;

  max-height: 23px !important;
  min-height: 23px !important;

  max-width: -moz-fit-content !important;
  min-width: -moz-fit-content !important;
  width: -moz-fit-content !important;

  margin: 1px 0 1px 0 !important;
}

/* Show only tabs from current group */
.tabbrowser-tab:not([hidden]) {
  display: list-item !important;
}

/* Selected tab */
.tabbrowser-tab[selected],
.tabbrowser-tab[multiselect] {
  box-shadow: -2px 0 5px rgba(0,0,0,.2) !important;
}

/* Pinned tab */
.tabbrowser-tab[pinned] {
  border-radius: 10px 0 0 10px !important;
}

/* Popup text */
.tabbrowser-tab:not(:hover) .tab-text {
  visibility: collapse !important;
  width: 0 !important;
  max-width: 0 !important;
}
.tabbrowser-tab:hover .tab-text {
  max-height: 23px !important;
  min-height: 23px !important;

  max-width: 300px !important;
  min-width: -moz-fit-content !important;
  width: -moz-fit-content !important;

  border-radius: 0 4px 4px 0 !important;

  padding: 0 5px 0 5px !important;
  margin: -6px 0 0 5px !important;

  display: table-cell !important;

  -moz-transition: max-width .5s !important;
}

/* Make popups appear on top of main window */
.tabbrowser-tab > .tab-stack {
  z-index: 1;
  position: relative;
}


/* Close button


/* Swap text & close button */
.tabbrowser-tab .tab       { -moz-box-ordinal-group: 3 !important; }
.tabbrowser-tab .tab-label { -moz-box-ordinal-group: 4 !important; }

/* Hide close button */
.tabbrowser-tab .tab-close-button {
  visibility: collapse !important;
}

/* Show close button on hover */
.tabbrowser-tab[selected]:not([pinned]):hover .tab-close-button {
  visibility: visible !important;
  margin: 0 0px 6px 2px !important;
}

/* Hide favicon and throbber on hover */
.tabbrowser-tab[selected]:not([pinned]):hover .tab-icon-image,
.tabbrowser-tab[selected]:not([pinned]):hover .tab-throbber {
  display: none !important;
}


.tab-content                                             { border:      none          !important; }
#verticaltabs-splitter                                   { display:     none          !important; }
.tabbrowser-tab .tab-icon-image                          { margin:      3px 0 7px 4px !important; }
.tabbrowser-tab .tab-throbber                            { margin-left: 5px           !important; }
.tabbrowser-tab:not([pinned]) .tab-icon-image:not([src]) { visibility:  visible       !important; }
.tabbrowser-tab:first-child                              { margin-top:  5px           !important; }
.tabbrowser-tab[busy]:hover:not([selected]) .tab-text    { margin-left: 0px           !important; }


/* Fix padding caused by tab arrows */
.tabbrowser-arrowscrollbox > .arrowscrollbox-scrollbox {
  -moz-padding-start: 0 !important;
  -moz-padding-end: 0 !important;
}



/* ::: Toolbar ::: */



#TabsToolbar { margin: 0 0 0 -10px !important; }

/* Main window shadow */
#main-window browser {
  box-shadow: 0 0 10px rgba(0,0,0,.2) !important;
}

/* Bookmarks and navigation bar */
#nav-bar,
#PersonalToolbar {
  padding: 0 3px 0 25px !important;
  margin: 0 !important;

  border: none !important;
  border-radius: 0 !important;
}

/* Hide window borders */
#browser-border-start,
#browser-border-end,
#browser-bottombox { display: none !important; }

/* Hide nav-bar elements */
.urlbar-history-dropmarker,
#go-button { display: none !important; }



/* ::: Tooltips ::: */



tooltip {
  -moz-appearance: none !important;
  opacity: 0.8 !important;
  border-radius: 4px !important;
}
tooltip label {
  border-radius: 4px !important;
}
